.contact-us {
 background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 94%) 34%,
    hsl(344deg 0% 90%) 57%,
    hsl(344deg 0% 85%) 66%,
    hsl(344deg 0% 81%) 71%,
    hsl(344deg 0% 77%) 74%,
    hsl(344deg 0% 72%) 76%,
    hsl(344deg 0% 68%) 78%,
    hsl(344deg 0% 64%) 79%,
    hsl(344deg 0% 60%) 80%,
    hsl(344deg 0% 56%) 81%,
    hsl(344deg 0% 52%) 82%,
    hsl(344deg 0% 48%) 83%,
    hsl(344deg 0% 44%) 84%,
    hsl(344deg 0% 40%) 85%,
    hsl(344deg 0% 36%) 86%,
    hsl(344deg 0% 33%) 87%,
    hsl(344deg 0% 29%) 88%,
    hsl(344deg 0% 26%) 89%,
    hsl(344deg 0% 22%) 90%,
    hsl(344deg 0% 19%) 91%,
    hsl(344deg 0% 15%) 93%,
    hsl(344deg 0% 12%) 94%,
    hsl(343deg 0% 9%) 96%,
    hsl(343deg 0% 5%) 98%,
    hsl(0deg 0% 0%) 100%
  );

  padding: 0rem 5rem 5rem 5rem;

}

.contactus-form-wrapper {
  padding: 5rem 0rem 2rem 0rem;
}

.contact-button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 32px;
  display: inline-block;
  border: solid 2px black;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: #252525;
  box-shadow: 0 0 100px 2px rgb(172, 172, 172);
  border: solid 2px lightgray;
  padding: 1.15rem;
}


@media screen and (max-width: 1100px) {
  .contact-us {
    padding: 0rem 2rem 5rem 2rem
  }  
}