.carrossel {
  width: 100%;
  aspect-ratio: 16 /9;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .carrossel {
    aspect-ratio: 3/4 ;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide {
  display: none;
  width: 100%;
  height: auto;
  animation: fade .5s ease-in-out;
}

.active {
  display: block;
}

.carrossel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.carrossel-arrows {
  fill: rgba(0, 0, 0, .56);
  font-size: 1.4rem;
}

.prevButton,
.nextButton,
.playPauseButton {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  backdrop-filter: blur(6px);
  background-color: rgba(200, 200, 200, .46);
  /* Button background color */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
  /* Ensure buttons are above the images */
}

.prevButton {
  right: 80px;
  /* Adjust left position */
}

.nextButton {
  right: 18px;
  /* Adjust right position */
}

.playPauseButton {
  right: 140px;
}

.playPauseIcon {
  fill: rgba(0, 0, 0, .56);
  font-size: medium;
}

.prevButton:hover,
.nextButton:hover,
.playPauseButton:hover {
  background-color: rgba(230, 230, 230, .76);
}