@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 2s linear;
  }
}

.splash-logo {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.companyName {
  font-size: 13vw;
  margin-bottom: 20px;
  font-weight: 550;
  display: flex;
  align-items: center;
}

.companyDesc {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 60px;
  letter-spacing: .02em;
}

.companyServiceReach {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: 1.6;
}

.homesplash {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.homepage-broll {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9;
  pointer-events: none;
  user-select: none;
}

.services-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background-image: linear-gradient(180deg,
      hsl(0deg 0% 0%) 0%,
      hsl(343deg 0% 5%) 4%,
      hsl(343deg 0% 9%) 8%,
      hsl(344deg 0% 12%) 11%,
      hsl(344deg 0% 15%) 14%,
      hsl(344deg 0% 19%) 16%,
      hsl(344deg 0% 22%) 18%,
      hsl(344deg 0% 26%) 20%,
      hsl(344deg 0% 29%) 22%,
      hsl(344deg 0% 33%) 23%,
      hsl(344deg 0% 36%) 25%,
      hsl(344deg 0% 40%) 26%,
      hsl(344deg 0% 44%) 28%,
      hsl(344deg 0% 48%) 30%,
      hsl(344deg 0% 52%) 31%,
      hsl(344deg 0% 56%) 33%,
      hsl(344deg 0% 60%) 35%,
      hsl(344deg 0% 64%) 38%,
      hsl(344deg 0% 68%) 41%,
      hsl(344deg 0% 72%) 45%,
      hsl(344deg 0% 77%) 50%,
      hsl(344deg 0% 81%) 56%,
      hsl(344deg 0% 85%) 64%,
      hsl(344deg 0% 90%) 77%,
      hsl(0deg 0% 94%) 100%);
  z-index: -4;
  padding-top: 6rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 2rem;
  align-items: center;
  margin: 2rem;
  width: auto;
  height: 100%;
}

.choose-gepainter {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gradient-text {
  display: inline;
  color: transparent;
  background-image: url('src/assets/textgradient.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.gepainter-minigallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 10rem;
}

.carrossel-home {
  width: 85vw;
}

@media screen and (max-width: 600px) {
  .carrossel-home {
    width: 90vw;
  }
}

.partners-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 10rem;
}

.areas-served {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  background-image: linear-gradient(180deg,
      hsl(0deg 0% 94%) 0%,
      hsl(344deg 0% 90%) 4%,
      hsl(344deg 0% 85%) 8%,
      hsl(344deg 0% 81%) 12%,
      hsl(344deg 0% 77%) 17%,
      hsl(344deg 0% 72%) 21%,
      hsl(344deg 0% 68%) 25%,
      hsl(344deg 0% 64%) 29%,
      hsl(344deg 0% 60%) 33%,
      hsl(344deg 0% 56%) 37%,
      hsl(344deg 0% 52%) 41%,
      hsl(344deg 0% 48%) 46%,
      hsl(344deg 0% 44%) 50%,
      hsl(344deg 0% 40%) 54%,
      hsl(344deg 0% 36%) 58%,
      hsl(344deg 0% 33%) 62%,
      hsl(344deg 0% 29%) 66%,
      hsl(344deg 0% 26%) 71%,
      hsl(344deg 0% 22%) 75%,
      hsl(344deg 0% 19%) 79%,
      hsl(344deg 0% 15%) 83%,
      hsl(344deg 0% 12%) 87%,
      hsl(343deg 0% 9%) 92%,
      hsl(343deg 0% 5%) 96%,
      hsl(0deg 0% 0%) 100%);
}

.areas-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 2rem;
  height: auto;
  width: 90vw;
  margin: 0 2rem 0 2rem
}

.marquee-area {
  background-color: hsla(210, 100%, 50%, 1);
  background-image:
    radial-gradient(at var(--p1x) var(--p1y), hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p2x) var(--p2y), hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p3x) var(--p3y), hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p4x) var(--p4y), hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p5x) var(--p5y), hsla(22, 100%, 77%, 1) 0px, transparent 50%);
  border-radius: 32px;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.secondary-navbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .splash-logo {
    display: none;
  }
}