@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 2s linear;
  }
}

.splash-logo {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.companyName {
  font-size: 13vw;
  margin-bottom: 20px;
  font-weight: 550;
  display: flex;
  align-items: center;
}

.companyDesc {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 60px;
  letter-spacing: .02em;
}

.companyServiceReach {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: 1.6;
}

.homesplash {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.homepage-broll {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9;
  pointer-events: none;
  user-select: none;
}

.services-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 95%) 7%,
    hsl(344deg 0% 91%) 13%,
    hsl(344deg 0% 86%) 17%,
    hsl(344deg 0% 81%) 21%,
    hsl(344deg 0% 77%) 25%,
    hsl(344deg 0% 72%) 29%,
    hsl(344deg 0% 68%) 32%,
    hsl(344deg 0% 64%) 35%,
    hsl(344deg 0% 59%) 38%,
    hsl(344deg 0% 55%) 41%,
    hsl(344deg 0% 51%) 44%,
    hsl(344deg 0% 47%) 47%,
    hsl(344deg 0% 43%) 50%,
    hsl(344deg 0% 39%) 53%,
    hsl(344deg 0% 35%) 56%,
    hsl(344deg 0% 31%) 59%,
    hsl(344deg 0% 27%) 62%,
    hsl(344deg 0% 23%) 65%,
    hsl(344deg 0% 20%) 68%,
    hsl(344deg 0% 16%) 71%,
    hsl(344deg 0% 13%) 75%,
    hsl(343deg 0% 9%) 79%,
    hsl(343deg 0% 6%) 85%,
    hsl(0deg 0% 0%) 95%
  );
  z-index: -4;
  padding-top: 6rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 2rem;
  align-items: center;
  margin: 2rem;
  width: auto;
  height: 100%;
}

.choose-gepainter {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gradient-text {
  display: inline;
  color: transparent;
  background-image: url('src/assets/textgradient.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.gepainter-minigallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 10rem;
}

.carrossel-home {
  width: 85vw;
}

@media screen and (max-width: 600px) {
  .carrossel-home {
    width: 90vw;
  }
}

.partners-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 10rem;
}

.areas-served {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 95%) 7%,
    hsl(344deg 0% 91%) 13%,
    hsl(344deg 0% 86%) 17%,
    hsl(344deg 0% 81%) 21%,
    hsl(344deg 0% 77%) 25%,
    hsl(344deg 0% 72%) 29%,
    hsl(344deg 0% 68%) 32%,
    hsl(344deg 0% 64%) 35%,
    hsl(344deg 0% 59%) 38%,
    hsl(344deg 0% 55%) 41%,
    hsl(344deg 0% 51%) 44%,
    hsl(344deg 0% 47%) 47%,
    hsl(344deg 0% 43%) 50%,
    hsl(344deg 0% 39%) 53%,
    hsl(344deg 0% 35%) 56%,
    hsl(344deg 0% 31%) 59%,
    hsl(344deg 0% 27%) 62%,
    hsl(344deg 0% 23%) 65%,
    hsl(344deg 0% 20%) 68%,
    hsl(344deg 0% 16%) 71%,
    hsl(344deg 0% 13%) 75%,
    hsl(343deg 0% 9%) 79%,
    hsl(343deg 0% 6%) 85%,
    hsl(0deg 0% 0%) 95%
  );
}

.areas-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 2rem;
  height: auto;
  width: 90vw;
  margin: 0 2rem 0 2rem
}

.marquee-area {
  background-color: hsla(210, 100%, 50%, 1);
  background-image:
    radial-gradient(at var(--p1x) var(--p1y), hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p2x) var(--p2y), hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p3x) var(--p3y), hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p4x) var(--p4y), hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at var(--p5x) var(--p5y), hsla(22, 100%, 77%, 1) 0px, transparent 50%);
  border-radius: 32px;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.secondary-navbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .splash-logo {
    display: none;
  }
}